<a href="https://colab.research.google.com/github/Chanakarn06/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีหนึ่งของ Python คือมี pagkage สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตารางโดย pandas จะเรียกตารางนั้นว่า dataframe

In [5]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [6]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กัน

In [7]:
data_df = pd.read_csv('data.csv')

In [8]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [9]:
data_df2 = pd.read_csv('data.csv')

In [10]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London



# Basic Python

Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน

In [11]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a

In [12]:
variable_a

12

In [13]:
variable_b

'abcde'

In [14]:
variable_c

12

In [18]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [17]:
# พยายามใช้ภาาาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [19]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [20]:
# # ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [21]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab=1

SyntaxError: ignored

In [22]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [23]:
print(variable)

1

In [24]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # เรียกว่า double quotte

In [25]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [27]:
variable_a + variable_b # ตัวเลขกับตัวหนังสือบวกกันไม่ได้

TypeError: ignored

In [28]:
print(variable_b + variable_4)

abcdeKKU

### Casting int() float() str()

In [29]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [30]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [32]:
V_X + variable_a #(ค่าตัวเลข) # ไม่สามารถเอามาบวกกับตัวเลขธรรมดา

TypeError: ignored

In [36]:
variable_a  + V_X

TypeError: ignored

In [37]:
V_X

'-29.200000000000003'

In [33]:
float(V_X)

-29.200000000000003

## Data Structure
### list() #ตัวเลขหรือตัวแปล

In [38]:
list_a = [1,2,0,.2,'ads'] # square brackets ใส่อะไรลงไปก็ได้

In [39]:
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [40]:
list_a # ลำดับมีความสำคัญ

[1, 2, 0, 0.2, 'ads']

In [41]:
list_b

[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [42]:
len(list_b) # คือความยาว มีสมาชิกกี่ตัว

4

In [43]:
list_b[3] # ชี้สมาชิกใน list ตัวที่3

[1, 2, 0.0]

In [44]:
list_b[3][1] # ชี้ออยู่ในลำดับที่1

2

string คือ list ของ ตัวหนังสือ

In [45]:
a = 'Stat KKU'

In [46]:
a[4]

' '

### วิธีการสร้าง listt ว่าง

In [50]:
list_c = list()
list_d = [] #แบบที่ 2

In [51]:
list_c

[]

In [52]:
list_d

[]

### เติมค่าลงไปใน list (.append())

In [53]:
list_d.append('a')

In [54]:
list_d

['a']

In [55]:
list_d.append('56')

In [56]:
list_d

['a', '56']

### การชี้ค่าใน list

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [57]:
list_b

[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [58]:
list_b[-1]

[1, 2, 0.0]

list slicing

In [59]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

 เราจะตัด list โดยเอาตังแต่ [ตัวหน้า:ก่อนตัวหลัง]
 ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหล้ง]->[ตัวหน้า,ตัวหลัง)

In [60]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [62]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [61]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดดเริ่มต้น:จุดสุดท้าย:step]

In [63]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [64]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [66]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [67]:
a

'Stat KKU'

In [68]:
a[5::]

'KKU'

In [69]:
a[-3::]

'KKU'

In [70]:
a[-3::1]

'KKU'

### list + list

In [74]:
print(list_a)
print(list_b)

[1, 2, 0, 0.2, 'ads']
[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [75]:
(list_a)+(list_b)

[1, 2, 0, 0.2, 'ads', 2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

format string



```
f'string{ตัวแปร}
```
{} curly brackets

In [76]:
f'ตัวแปร list_a มีค่าคือ{list_a}'

"ตัวแปร list_a มีค่าคือ[1, 2, 0, 0.2, 'ads']"

### Loop

ให้โปรแกรมทำงานคล้ายๆกันซ้ำๆหลายๆรอบ สามารถเอามา loop ได้



indent
```python
for ตัวแปรที่จะรับค่าจากlist in ลิสต์ที่จะนำมาวนลูป :
do something #in loop
do another thing #in loop

do other thing #out side loop



```

In [77]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [78]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [79]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [82]:
for i in range(2,7,2):
  print(i)

2
4
6

In [83]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [84]:
for i in range(5):
  print('ice')

ice
ice
ice
ice
ice

In [85]:
for i in range(5):
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###  Nested loop

In [86]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range (4):
    print(f'i= {i} j = {j} i+j ={i+j}')
  print('end j loop')

now i = 0
start j loop
i= 0 j = 0 i+j =0
i= 0 j = 1 i+j =1
i= 0 j = 2 i+j =2
i= 0 j = 3 i+j =3
end j loop
now i = 1
start j loop
i= 1 j = 0 i+j =1
i= 1 j = 1 i+j =2
i= 1 j = 2 i+j =3
i= 1 j = 3 i+j =4
end j loop
now i = 2
start j loop
i= 2 j = 0 i+j =2
i= 2 j = 1 i+j =3
i= 2 j = 2 i+j =4
i= 2 j = 3 i+j =5
end j loop

### Condition (if statement)
เงื่อนไข




```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
```

In [106]:
stringx ='djuhvuifjdvidfkjvviosfvif'

if len(stringx) > 30:
  print(f'{string} is longer than 30 characters')

In [105]:
stringx ='djuhvuifjdvidfkjvviosfvif'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else: 
  print(f'{stringx} in {len(stringx)} characters long')

djuhvuifjdvidfkjvviosfvif in 25 characters long


```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อไขข้างบนไม่เป็นจริง :
ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อไขข้างบนไม่เป็นจริง :
ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else : #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
ทำงานที่ X
```

In [109]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
  print('Welcome!')
elif len(input_pass)> len(password) :
  print('Too long,try again')
elif len(input_pass)< len(password) :
  print('Too short,try again')
else:
  print('Wrong password,try again!')

Wrong password,try again!

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ funtion min

In [113]:
list_ex = [1,5,9,-19,-2,0]
pp = list_ex[0] 
i = 0 # ลำดับของค่าสูงสุดเริ่มต้น
for m in list_ex: # ทำการวนซ้ำตามจำนวนในลิสต์
    if(m<pp): # ถ้ามากกว่าค่าสูงสุดเดิม
        pp = m # ให้เปลี่ยนเป็นค่านั้น
        imin = i # และเปลี่ยนลำดับด้วย
    i += 1
print(min(list_ex))

-19