<a href="https://colab.research.google.com/github/Chanakarn06/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีหนึ่งของ Python คือมี pagkage สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในตารางโดย pandas จะเรียกตารางนั้นว่า dataframe

In [42]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [43]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กัน

In [48]:
data_df = pd.read_csv('data.csv')

In [47]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [50]:
data_df2 = pd.read_csv('data.csv')

In [51]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London



# Basic Python

Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน

In [54]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a

In [55]:
variable_a

12

In [56]:
variable_b

'abcde'

In [57]:
variable_c

12

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

In [60]:
# พยายามใช้ภาาาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [62]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [63]:
# # ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab=1

In [64]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [65]:
print(variable)

1

In [81]:
variable_a = 12
variable_b = 'abcde' # เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # เรียกว่า double quotte

In [82]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [75]:
variable_a + variable_b # ตัวเลขกับตัวหนังสือบวกกันไม่ได้

TypeError: ignored

In [83]:
print(variable_b + variable_4)

abcdeKKU

### Casting int() float() str()

In [90]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [91]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a #(ค่าตัวเลข) # ไม่สามารถเอามาบวกกับตัวเลขธรรมดา

In [86]:
variable_a  + V_X

TypeError: ignored

In [93]:
V_X

'-29.200000000000003'

In [94]:
float(V_X)

-29.200000000000003

## Data Structure
### list() #ตัวเลขหรือตัวแปล

In [96]:
list_a = [1,2,0,.2,'ads'] # square brackets ใส่อะไรลงไปก็ได้

In [97]:
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [98]:
list_a # ลำดับมีความสำคัญ

[1, 2, 0, 0.2, 'ads']

In [99]:
list_b

[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [100]:
len(list_b) # คือความยาว มีสมาชิกกี่ตัว

4

In [101]:
list_b[3] # ชี้สมาชิกใน list ตัวที่3

[1, 2, 0.0]

In [102]:
list_b[3][1] # ชี้ออยู่ในลำดับที่1

2

string คือ list ของ ตัวหนังสือ

In [107]:
a = 'Stat KKU'

In [108]:
a[4]

' '

### วิธีการสร้าง listt ว่าง

In [110]:
list_c = list()
list_d = [] #แบบที่ 2

In [111]:
list_c

[]

In [113]:
list_d

[]

### เติมค่าลงไปใน list (.append())

In [114]:
list_d.append('a')

In [115]:
list_d

['a']

In [116]:
list_d.append('56')

In [117]:
list_d

['a', '56']

### การชี้ค่าใน list

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [118]:
list_b

[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [119]:
list_b[-1]

[1, 2, 0.0]

list slicing

In [131]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

 เราจะตัด list โดยเอาตังแต่ [ตัวหน้า:ก่อนตัวหลัง]
 ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหล้ง]->[ตัวหน้า,ตัวหลัง)

In [132]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [133]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [134]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดดเริ่มต้น:จุดสุดท้าย:step]

In [137]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [138]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [139]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [140]:
a

'Stat KKU'

In [146]:
a[5::]

'KKU'

In [148]:
a[-3::]

'KKU'

In [149]:
a[-3::1]

'KKU'

### list + list

In [150]:
print(list_a)
print(list_b)

[1, 2, 0, 0.2, 'ads']
[2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

In [151]:
(list_a)+(list_b)

[1, 2, 0, 0.2, 'ads', 2, 'xyz', [1, 2, 0, 0.2, 'ads'], [1, 2, 0.0]]

format string



```
f'string{ตัวแปร}
```
{} curly brackets

In [158]:
f'ตัวแปร list_a มีค่าคือ{list_a}'

"ตัวแปร list_a มีค่าคือ[1, 2, 0, 0.2, 'ads']"

### Loop




```python
for ตัวแปรที่จะรับค่าจากlist in ลิสต์ที่จะนำมาวนลูป :
do something
```

In [156]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [159]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [161]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [162]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [170]:
for i in range(2,7,2):
  print(i)

2
4
6

In [173]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [172]:
for i in range(5):
  print('ice')

ice
ice
ice
ice
ice

In [174]:
for i in range(5):
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###  Nested loop

In [178]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range (4):
    print(f'i= {i} j = {j} i+j ={i+j}')
  print('end j loop')

now i = 0
start j loop
i= 0 j = 0 i+j =0
i= 0 j = 1 i+j =1
i= 0 j = 2 i+j =2
i= 0 j = 3 i+j =3
end j loop
now i = 1
start j loop
i= 1 j = 0 i+j =1
i= 1 j = 1 i+j =2
i= 1 j = 2 i+j =3
i= 1 j = 3 i+j =4
end j loop
now i = 2
start j loop
i= 2 j = 0 i+j =2
i= 2 j = 1 i+j =3
i= 2 j = 2 i+j =4
i= 2 j = 3 i+j =5
end j loop

### Condition
Function