<a href="https://colab.research.google.com/github/Chanakarn06/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [4]:
import pandas as pd

In [5]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os

In [8]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/MiniExam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [9]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/MiniExam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [10]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [12]:
gen_exams('623021046-7')

รหัสนักศึกษา 623021046-7 ทำข้อ 1 และ 4

**เริ่มทำจ้าาา**

In [20]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')  
#ทำการเชื่อมตารางทั้ง 2 ตาราง คือตาราง flights และตาราง airports

In [21]:
merged_table

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [22]:
merged_table.dropna() ##เช็คค่า missing

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

# 1)หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด

In [61]:
# เช็คจำนวนเที่ยวบินของแต่ละรัฐ
merged_table.groupby('รัฐ').count()

     วันในเดือน  วันในสัปดาห์  สายการบิน  ...  รหัสสนามบิน   เมือง  ชื่อสนามบิน
รัฐ                                       ...
AK         7700          7700       7700  ...         7700    7700         7700
AZ       100710        100710     100710  ...       100710  100710       100710
CA       380046        380046     380046  ...       380046  380046       380046
CO        97259         97259      97259  ...        97259   97259        97259
CT        13042         13042      13042  ...        13042   13042        13042
DC        80536         80536      80536  ...        80536   80536        80536
FL       208139        208139     208139  ...       208139  208139       208139
GA       148563        148563     148563  ...       148563  148563       148563
HI        28395         28395      28395  ...        28395   28395        28395
IL       176939        176939     176939  ...       176939  176939       176939
IN        18038         18038      18038  ...        18038   18038        18038
KY        10915         10915      10915  ...        10915   10915        10915
LA        25184         25184      25184  ...        25184   25184        25184
MA        66699         66699      66699  ...        66699   66699        66699
MD        51761         51761      51761  ...        51761   51761        51761
MI        62584         62584      62584  ...        62584   62584        62584
MN        60174         60174      60174  ...        60174   60174        60174
MO        63570         63570      63570  ...        63570   63570        63570
NC       104766        104766     104766  ...       104766  104766       104766
NE        13487         13487      13487  ...        13487   13487        13487
NJ        64313         64313      64313  ...        64313   64313        64313
NM        17542         17542      17542  ...        17542   17542        17542
NV        88222         88222      88222  ...        88222   88222        88222
NY       132823        132823     132823  ...       132823  132823       132823
OH        66389         66389      66389  ...        66389   66389        66389
OK        13922         13922      13922  ...        13922   13922        13922
OR        30484         30484      30484  ...        30484   30484        30484
PA        67957         67957      67957  ...        67957   67957        67957
PR        13840         13840      13840  ...        13840   13840        13840
RI         9313          9313       9313  ...         9313    9313         9313
TN        53414         53414      53414  ...        53414   53414        53414
TX       275503        275503     275503  ...       275503  275503       275503
UT        47324         47324      47324  ...        47324   47324        47324
VA        21491         21491      21491  ...        21491   21491        21491
WA        60172         60172      60172  ...        60172   60172        60172
WI        21002         21002      21002  ...        21002   21002        21002

[36 rows x 10 columns]

In [62]:
 # รัฐที่มีสนามบินปลายทางมากสุด 
RWmax = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) 
RWmax.iloc[:1,4:5]

     รหัสสนามบินปลายทาง
รัฐ
CA               380046

In [63]:
# รัฐที่มีสนามบินปลายทางน้อยสุด 
RWmin = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) 
RWmin.iloc[-1:,4:5]

     รหัสสนามบินปลายทาง
รัฐ
AK                 7700

# 4) สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด

In [64]:
# เช็คความล่าช้าขาออกที่มีค่ามากสุด
merged_table['ความล่าช้าขาออก'].max()

1863

In [65]:
# เช็คความล่าช้าขาออกที่มีค่ามากสุด
merged_table['ความล่าช้าขาเข้า'].max()

1845

In [72]:
#ความล่าช้าขาออกมากสุด
DLmax = merged_table.groupby('สายการบิน').max().sort_values(by=['ความล่าช้าขาออก'],ascending=False) 
DLmax.iloc[:1,4:5]

           ความล่าช้าขาออก
สายการบิน
AA                    1863

In [73]:
#ความล่าช้าขาเช้ามากสุด
DLmax1= merged_table.groupby('สายการบิน').max().sort_values(by=['ความล่าช้าขาเข้า'],ascending=False) 
DLmax1.iloc[:1,5:6]

           ความล่าช้าขาเข้า
สายการบิน
HA                     1845

In [74]:
# เช็คความล่าช้าขาออกที่มีค่าน้อยสุด
merged_table['ความล่าช้าขาออก'].min()

-63

In [75]:
# เช็คความล่าช้าขาเข้าที่มีค่าน้อยสุด
merged_table['ความล่าช้าขาเข้า'].min()

-94

In [76]:
#ความล่าช้าขาออกน้อยสุด
DLmin = merged_table.groupby('สายการบิน').min().sort_values(by=['ความล่าช้าขาออก'],ascending=False) 
DLmin.iloc[-1:,4:5]

           ความล่าช้าขาออก
สายการบิน
F9                     -63

In [77]:
#ความล่าช้าขาออกน้อยสุด
DLmin1 = merged_table.groupby('สายการบิน').min().sort_values(by=['ความล่าช้าขาเข้า'],ascending=False) 
DLmin1.iloc[-1:,5:6]

           ความล่าช้าขาเข้า
สายการบิน
YV                      -94

***คิดโจทย์เอง***

# ในรัฐที่มีจำนวนเครื่องบินขาออกมากที่สุด มีสนามบินทั้งหมดเท่าไหร่

In [98]:
RWmax = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) 
RWmax.iloc[:1,4:5]  #รัฐที่มีสนามบินปลายทางมากสุด

     รหัสสนามบินปลายทาง
รัฐ
CA               380046

In [99]:
airports[airports['รัฐ']=='CA'] #หาจำนวนเครื่องบินที่รัฐCA

    รหัสสนามบิน  ...                                      ชื่อสนามบิน
36        10157  ...                                           Arcata
37        10561  ...                                    Meadows Field
38        10800  ...                                         Bob Hope
39        11041  ...                                McClellan-Palomar
40        11002  ...                                  Chico Municipal
41        10910  ...                                   Buchanan Field
42        10930  ...                              Jack McNamara Field
43        12363  ...                                  Imperial County
44        11638  ...                    Fresno Yosemite International
45        12436  ...                                 Inyokern Airport
46        15383  ...                               Lake Tahoe Airport
47        12954  ...                               Long Beach Airport
48        12892  ...                        Los Angeles International
49        13388  ...                            Mammoth Lakes Airport
50        13424  ...             Modesto City-County-Harry Sham Field
51        13476  ...                               Monterey Peninsula
52        13796  ...               Metropolitan Oakland International
53        13891  ...                            Ontario International
54        13988  ...                                           Oxnard
55        14262  ...                       Palm Springs International
56        14162  ...                           Palmdale USAF Plant 42
57        14487  ...                                Redding Municipal
58        14893  ...                         Sacramento International
59        14679  ...                          San Diego International
60        14771  ...                      San Francisco International
61        14831  ...          Norman Y. Mineta San Jose International
62        14698  ...                         San Luis County Regional
63        14908  ...                 John Wayne Airport-Orange County
64        14689  ...                          Santa Barbara Municipal
65        14905  ...  Santa Maria Public/Capt. G. Allan Hancock Field
66        14716  ...                            Stockton Metropolitan
67        15601  ...                                Visalia Municipal

[32 rows x 4 columns]

In [103]:
airports[airports['รัฐ']=='CA'] [['รัฐ','ชื่อสนามบิน']] #เลือกคอลัมน์ที่สนใจ

   รัฐ                                      ชื่อสนามบิน
36  CA                                           Arcata
37  CA                                    Meadows Field
38  CA                                         Bob Hope
39  CA                                McClellan-Palomar
40  CA                                  Chico Municipal
41  CA                                   Buchanan Field
42  CA                              Jack McNamara Field
43  CA                                  Imperial County
44  CA                    Fresno Yosemite International
45  CA                                 Inyokern Airport
46  CA                               Lake Tahoe Airport
47  CA                               Long Beach Airport
48  CA                        Los Angeles International
49  CA                            Mammoth Lakes Airport
50  CA             Modesto City-County-Harry Sham Field
51  CA                               Monterey Peninsula
52  CA               Metropolitan Oakland International
53  CA                            Ontario International
54  CA                                           Oxnard
55  CA                       Palm Springs International
56  CA                           Palmdale USAF Plant 42
57  CA                                Redding Municipal
58  CA                         Sacramento International
59  CA                          San Diego International
60  CA                      San Francisco International
61  CA          Norman Y. Mineta San Jose International
62  CA                         San Luis County Regional
63  CA                 John Wayne Airport-Orange County
64  CA                          Santa Barbara Municipal
65  CA  Santa Maria Public/Capt. G. Allan Hancock Field
66  CA                            Stockton Metropolitan
67  CA                                Visalia Municipal

In [108]:
x=airports[airports['รัฐ']=='CA'] [['รัฐ','ชื่อสนามบิน']] #ในรัฐCA มีสนามบินทั้งหมดเท่าไหร่
x.count()

รัฐ            32
ชื่อสนามบิน    32
dtype: int64

enddddddd